.bg{
  &>svg:first-child{
    position: absolute;
    top:0;
    left:0;
    width:100%;
  }
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  &.sad{@include linearGradient(#cccccc, #666666);}
  &.happy{@include linearGradient(#BE4405, #F6C60C);}
  &.evil{@include linearGradient(#c70808, #330000);}
  &.custom{@include linearGradient(#7707be, #000);}
  overflow: hidden;
  transition: all 1s ease-in;
}
.button, button{
  font-family:'halloween';
  font-size: 20px;
  padding: 10px 25px;
  border: 1px solid rgba(255, 255, 255, 0.29);
  margin-top: 40px;
}
.button:hover, button:hover{
  border: 1px solid #af3600;
  color: #b53b04;
}

.multistate-switch {
  width: 200px;
  height: 24px;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 14px;
  margin-top: 40px;
  background:rgba(0, 0, 0, 0.15);
  position: relative;
  ul.states {
    list-style-type: none;
    line-height: 20px;
    margin: 0;
    width:100%;
    li{
      display: inline-block;
      width:25%;
      height:22px;
      float:left;
      position: relative;
        -webkit-transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
          transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
      span{
        position: relative;
        font-size: 11px;
        text-transform: uppercase;
      }
      &:first-child span{
        top:25px;
        left:-50%;
      }
      &:nth-child(2) span{
        top:-25px;
        left:-2px;
      }
      &:nth-child(3) span{
        top:25px;
        left:30%;
      }
      &:last-child span{
        top:-25px;
        left:50%;
      }
    }
  }
  &.sad{
    border-color: #ccc;
    .handle {
      right:4px !important;
      left: auto;
      background: #e9e5d5;
    }
  }
  &.evil{
    border-color: red;
    color: white;
    .handle {
      left:33% !important;
      right: auto !important;
      background: red;
    }
  }
  &.happy{
    border-color: #b9de1b;
    .handle {
      left:66% !important;
      right: auto !important;
      background: #b9de1b;
    }
  }
  &.custom{
    color: white;
    border-color: #1a00ac;
    .handle {
      right:auto !important;
      left: 4px !important;
      background: #1a00ac;
    }
  }
}
.handle {
  top: 3px;
  left: 4px;
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
    -webkit-transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
          transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
}