.bg{
  &>svg:first-child{
    position: absolute;
    top:0;
    left:0;
    width:100%;
  }
  text-align: center;
  width: 100%;
  padding: 40px;
  min-height: 100%;
  position: absolute;
 // background: linear-gradient(to bottom, #BE4405, #F6C60C);
  &.depressed{@include linearGradient(#cccccc, #666666);}
  &.happy{@include linearGradient(#BE4405, #F6C60C);}
  &.evil{@include linearGradient(#c70808, #330000);}
  &.manual{@include linearGradient(#7707be, #000);}
}


.multistate-switch {
  width: 350px;
  height: 24px;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 14px;
  margin-top: 40px;
  background: #DA8508;
  position: relative;
  ul.states {
    list-style-type: none;
    line-height: 20px;
    margin: 0;
    width:100%;
    li{
      display: inline-block;
      width:25%;
      height:22px;
      float:left;
      position: relative;
      span{
        position: relative;
        font-size: 11px;
        text-transform: uppercase;
      }
      &:first-child span{
        top:25px;
        left:-50%;
      }
      &:nth-child(2) span{
        top:-25px;
        left:-25%;
      }
      &:nth-child(3) span{
        top:25px;
        left:25%;
      }
      &:last-child span{
        top:-25px;
        left:50%;
      }
    }
  }
}
.handle {
  top: 3px;
  left: 4px;
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
//  -webkit-transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
//          transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
}
.switched {
  border-color: white !important;
  background: #1C3958 !important;
}
.switched .handle {
  left:auto !important;
  right: 4px !important;
  background: #e9e5d5;
}