*:focus {
    outline: none;
}
body{
  text-align: center;
}
.hide {
    display:none;
}
.centred{
  margin: auto;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
@font-face {
    font-family: 'halloween';
    src: url('../fonts/October Crow.ttf') format('truetype');
   // src: url('../fonts//Hells Kittchen Devil God/Hells Kittchen Devil God.ttf') format('truetype');
}
@font-face {
    font-family: 'digital';
    src: url('../fonts/square_dot_digital.ttf') format('truetype');
}
h1{
  font-family: halloween;
  font-size: 60px;
  color: red;
  margin-top: 30px;
  text-shadow: 2px 2px 3px brown;
}
.reveal{
  padding: 70px 30px;
  @include linearGradient(rgba(3, 119, 79, 0.66), #330000);
  a{
    position: fixed;
    bottom: 60px;
    color: white;
    left: 0;
    right: 0;
    margin: auto;
    font-family:'halloween';
    &:hover{
      color: #eb0707;
    }
  }
}
.no-scrolling{
  animation: none!important;
}
#colorPicker{
  background-color: #2a2a2a;
  width: 150px;
  input{
  }
}
.pumpkin{
  position: relative;
  padding: 30px 50px;
  height: 100%;
  width:100%;
  min-width: 350px;
  max-height: 700px;
  max-width: 500px;
  margin: auto;
}
