.potions img.blue {
    animation: blue 1.5s ease-in-out infinite alternate;
}
.potions img.green {
    animation: green 1.5s ease-in-out infinite alternate;
}
.potions img.yellow {
    animation: yellow 1.5s ease-in-out infinite alternate;
}
.potions img.orange {
    animation: orange 1.5s ease-in-out infinite alternate;
}
.potions img.red {
    animation: red 1.5s ease-in-out infinite alternate;
}
.potions img.purple {
    animation: purple 1.5s ease-in-out infinite alternate;
}
///////////////////////////////////////////////////////////////
@keyframes blue {
  from {    
    filter: drop-shadow(0px 0px 8px blue);
  }
  to {
    filter: drop-shadow(0px 0px 40px blue);
  }
}
@keyframes green {
  from {    
    filter: drop-shadow(0px 0px 8px green);
  }
  to {
    filter: drop-shadow(0px 0px 20px green);
  }
}
@keyframes yellow {
  from {    
    filter: drop-shadow(0px 0px 8px yellow);
  }
  to {
    filter: drop-shadow(0px 0px 20px yellow);
  }
}
@keyframes orange {
  from {    
    filter: drop-shadow(0px 0px 8px orange);
  }
  to {
    filter: drop-shadow(0px 0px 20px orange);
  }
}
@keyframes red {
  from {    
    filter: drop-shadow(0px 0px 8px red);
  }
  to {
    filter: drop-shadow(0px 0px 20px red);
  }
}
@keyframes purple {
  from {    
    filter: drop-shadow(0px 0px 8px purple);
  }
  to {
    filter: drop-shadow(0px 0px 20px purple);
  }
}