.potions img.blue {
    animation: blue 1.3s ease-in-out infinite alternate;
}
.potions img.green {
    animation: green 1.3s ease-in-out infinite alternate;
}
.potions img.yellow {
    animation: yellow 1.3s ease-in-out infinite alternate;
}
.potions img.orange {
    animation: orange 1.3s ease-in-out infinite alternate;
}
.potions img.red {
    animation: red 1.3s ease-in-out infinite alternate;
}
.potions img.purple {
    animation: purple 1.3s ease-in-out infinite alternate;
}
///////////////////////////////////////////////////////////////

@keyframes blue {
  from {    
    filter: drop-shadow(0px 0px 10px blue);
  }
  to {
    filter: drop-shadow(0px 0px 30px #00baff);
  }
}
@keyframes green {
  from {    
    filter: drop-shadow(0px 0px 10px #00ff89);
  }
  to {
    filter: drop-shadow(0px 0px 20px #b1ff00);
  }
}
@keyframes yellow {
  from {    
    filter: drop-shadow(0px 0px 10px #ffe200);
  }
  to {
    filter: drop-shadow(0px 0px 20px yellow);
  }
}
@keyframes orange {
  from {    
    filter: drop-shadow(0px 0px 10px #ff5800);
  }
  to {
    filter: drop-shadow(0px 0px 30px orange);
  }
}
@keyframes red {
  from {    
    filter: drop-shadow(0px 0px 10px #ff0000);
  }
  to {
    filter: drop-shadow(0px 0px 30px #ff5757);
  }
}
@keyframes purple {
  from {    
    filter: drop-shadow(0px 0px 10px #eb00ff);
  }
  to {
    filter: drop-shadow(0px 0px 30px #eb00eb);
  }
}