.shelf {
  position: relative;
  width: 80%;
  border-bottom: 20px solid #2b2d36;
  text-align: center;
  padding: 0 27px;
  margin: 20px auto;
  background: transparent;
}

.shelf:after {
  position: absolute;
  bottom: -3px;
  left: 34px;
  height: 10px;
  background: transparent;
  content: "";
  -webkit-transform: perspective( 150 ) rotateX( -25deg );
     -moz-transform: perspective( 150 ) rotateX( -25deg );
      -ms-transform: perspective( 150 ) rotateX( -25deg );
          transform: perspective( 150 ) rotateX( -25deg );
  right: 34px;
  box-shadow: 0 0 17px 5px rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.shelf > div {
  border-bottom: 23px solid #3d3e43;
  position: relative;
  z-index: 1;
}

.shelf > div:before {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 23px 27px;
  border-color: transparent transparent #3d3e43 transparent;
  position: absolute;
  bottom: -23px;
  left: -27px;
  z-index: 2;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  transform:rotate(360deg);
}

.shelf > div:after {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 23px 0 0 27px;
  border-color: transparent transparent transparent #3d3e43;
  position: absolute;
  bottom: -23px;
  right: -27px;
  z-index: 2;
}

.shelf > div > * {
  position: relative;
  z-index: 2;
  top: 18px;
}
