.shelves{
  position: absolute;
  width:600px;
}
.potions{
  @extend .shelves;
  margin: auto;
  >div{
    height:100px;
    width:33%;
    text-align: center;
    img{
      width:auto;
      height:auto;
      max-height: 80px;
      max-width: 80px;
    }
  }
}