body{
  background-color: #111;
}
@import url('https://fonts.googleapis.com/css?family=Sacramento');

.label {
  position: relative;
  border:1px solid #ad9e7a;
  bottom:-118px;
  font-size: 8.5px;
  background-color: beige;
  padding: 0px 9px;
  line-height: 12px;
  color: #553800;
  &:before, &:after{
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #817149;
    left:3px;
    top:5px;
    border-radius:100%;
  }
  &:after{
    right:3px;
    left:auto;
  }
}
.potions{
  height: 140px;
  padding: 0;
  >div{
    width:33%;
    text-align: center;
    position: relative;
    img {
      position:absolute;
      margin: auto;
      left:0;
      right:0;
      bottom: 0;
      &.red,
      &.yellow{
        max-width: 100px;
      }
      &.blue,
      &.orange,
      &.green,
      &.purple {
        max-height: 140px;
      }
    }
  }
}
//

.reveal{
  background-color: rgba(0, 0, 0,0.8);
  background-image: url(../img/bg.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  width:450px;
  height:450px;
  text-align: center;
  border:none;
  border-radius: 100%;
  padding: 40px;
  overflow:hidden; 
  
    animation: heartbeat 0.9s ease-in-out infinite alternate;
  h2{
    
    font-family: 'Sacramento', cursive;
  }
  .description{
  }
  ul{
    list-style: none;
    text-align: left;
    margin: 0 auto;
    font-size: 12px;
    display: inline-block;
  }
  img{
    max-height: 90px;
    max-width: 70px;
    animation: heartbeat-filter 0.9s ease-in-out infinite alternate;
  }
  &.red{
    color: red;
  }
  &.purple{
    color: #ca11e2;
  }
  &.yellow{
    color: #e2ff00;
  }
  &.orange{
    color: #ff7600;
  }
  &.green{
    color: #8cd600;
  }
  &.blue{
    color: #0093ff;
  }
}
@keyframes heartbeat-filter {
  0%   {filter: drop-shadow(0px 0px 10px);}
  50%  {filter: drop-shadow(0px 0px 10px);}
  80%  {filter: drop-shadow(0px 0px 40px);}
  100% {filter: drop-shadow(0px 0px 30px);}
}
@keyframes heartbeat {
  0%   {box-shadow: 0px 0px 10px;}
  50%  {box-shadow: 0px 0px 10px;}
  80%  {box-shadow: 0px 0px 50px;}
  100% {box-shadow: 0px 0px 40px;}
}