<section class="shelf">
  <div>
      <div class="row potions">
        <div class="small-4 medium-2 columns">
          <img class="blue" alt="blue potion" src="{{root}}assets/img/blue.png">
          <div class="label">01010LOVE</div>
        </div>
        <div class="small-4 medium-2 columns">
          <img class="yellow" alt="yellow potion" src="{{root}}assets/img/yellow.png">
          <div class="label">Seluxit Love Slammer</div>
        </div>
        <div class="small-4 medium-2 columns">
          <img class="green" alt="green potion" src="{{root}}assets/img/green.png">
          <div class="label">Binary nectar</div>
        </div>
         <div class="small-4 medium-2 columns orange">
          <img class="orange" alt="orange potion" src="{{root}}assets/img/orange.png">
          <div class="label">IOTini Passion</div>
        </div>
        <div class="small-4 medium-2 columns">
          <img class="red" alt="red potion" src="{{root}}assets/img/red.png">
          <div class="label">Sex on the Wave</div>
        </div>
        <div class="small-4 medium-2 columns">
          <img class="purple" alt="purple potion" src="{{root}}assets/img/purple.png">
          <div class="label">5G spot</div>
        </div>
      </div>
  </div>
</section>