<svg version="1.1" id="&#xD1;&#xEB;&#xEE;&#xE9;_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 x="0px" y="0px" viewBox="0 0 235 29" style="enable-background:new 0 0 235 29;" xml:space="preserve">
<g>
	<g style="opacity:0.3;">
		<polygon style="fill:#FFFFFF;" points="9.333,6.808 0,27.331 233.333,27.331 224,6.808 		"/>
		<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="116.6667" y1="26.254" x2="116.6667" y2="7.9843">
			<stop  offset="0" style="stop-color:#FEFEFE"/>
			<stop  offset="1" style="stop-color:#F4F4F4"/>
		</linearGradient>
		<polygon style="fill:url(#SVGID_1_);" points="9.778,6.808 1.556,27.113 231.778,27.113 223.556,6.808 		"/>
		<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="116.6667" y1="26.046" x2="116.6667" y2="7.9717">
			<stop  offset="0" style="stop-color:#FDFDFD"/>
			<stop  offset="0.601" style="stop-color:#F3F3F3"/>
			<stop  offset="1" style="stop-color:#E9E9E9"/>
		</linearGradient>
		<polygon style="fill:url(#SVGID_2_);" points="10.222,6.808 3.111,26.896 230.222,26.896 223.111,6.808 		"/>
		<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="116.6667" y1="25.838" x2="116.6667" y2="7.9591">
			<stop  offset="0" style="stop-color:#FCFCFC"/>
			<stop  offset="0.4408" style="stop-color:#F2F2F2"/>
			<stop  offset="1" style="stop-color:#DFDFDE"/>
		</linearGradient>
		<polygon style="fill:url(#SVGID_3_);" points="10.667,6.808 4.667,26.679 228.667,26.679 222.667,6.808 		"/>
		<linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="116.6667" y1="25.6301" x2="116.6667" y2="7.9465">
			<stop  offset="0" style="stop-color:#FCFCFC"/>
			<stop  offset="0.3535" style="stop-color:#F2F2F2"/>
			<stop  offset="0.9601" style="stop-color:#D6D6D6"/>
			<stop  offset="1" style="stop-color:#D4D4D4"/>
		</linearGradient>
		<polygon style="fill:url(#SVGID_4_);" points="11.111,6.808 6.222,26.462 227.111,26.462 222.222,6.808 		"/>
		<linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="116.6667" y1="25.4221" x2="116.6667" y2="7.9339">
			<stop  offset="0" style="stop-color:#FBFBFB"/>
			<stop  offset="0.2979" style="stop-color:#F1F1F1"/>
			<stop  offset="0.8089" style="stop-color:#D5D5D5"/>
			<stop  offset="1" style="stop-color:#C9C9C9"/>
		</linearGradient>
		<polygon style="fill:url(#SVGID_5_);" points="11.556,6.808 7.778,26.245 225.556,26.245 221.778,6.808 		"/>
		<linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="116.6667" y1="25.2141" x2="116.6667" y2="7.9213">
			<stop  offset="0" style="stop-color:#FAFAFA"/>
			<stop  offset="0.259" style="stop-color:#F0F0F0"/>
			<stop  offset="0.7032" style="stop-color:#D4D4D4"/>
			<stop  offset="1" style="stop-color:#BEBEBE"/>
		</linearGradient>
		<polygon style="fill:url(#SVGID_6_);" points="12,6.808 9.333,26.028 224,26.028 221.333,6.808 		"/>
		<linearGradient id="SVGID_7_" gradientUnits="userSpaceOnUse" x1="116.6667" y1="25.0061" x2="116.6667" y2="7.9088">
			<stop  offset="0" style="stop-color:#F9F9F9"/>
			<stop  offset="0.2301" style="stop-color:#EFEFEF"/>
			<stop  offset="0.6247" style="stop-color:#D4D4D3"/>
			<stop  offset="1" style="stop-color:#B4B4B3"/>
		</linearGradient>
		<polygon style="fill:url(#SVGID_7_);" points="12.444,6.808 10.889,25.81 222.444,25.81 220.889,6.808 		"/>
		<linearGradient id="SVGID_8_" gradientUnits="userSpaceOnUse" x1="116.6667" y1="24.7981" x2="116.6667" y2="7.8962">
			<stop  offset="0" style="stop-color:#F8F8F8"/>
			<stop  offset="0.2077" style="stop-color:#EEEEEE"/>
			<stop  offset="0.5653" style="stop-color:#D2D2D2"/>
			<stop  offset="1" style="stop-color:#A9A9A8"/>
		</linearGradient>
		<polygon style="fill:url(#SVGID_8_);" points="12.889,6.808 12.444,25.593 220.889,25.593 220.444,6.808 		"/>
		<linearGradient id="SVGID_9_" gradientUnits="userSpaceOnUse" x1="116.6667" y1="24.5901" x2="116.6667" y2="7.8836">
			<stop  offset="0" style="stop-color:#F7F7F7"/>
			<stop  offset="0.1898" style="stop-color:#EDEDED"/>
			<stop  offset="0.5165" style="stop-color:#D1D1D1"/>
			<stop  offset="0.9384" style="stop-color:#A5A5A4"/>
			<stop  offset="1" style="stop-color:#9E9E9D"/>
		</linearGradient>
		<polygon style="fill:url(#SVGID_9_);" points="13.333,6.808 14,25.376 219.333,25.376 220,6.808 		"/>
		<linearGradient id="SVGID_10_" gradientUnits="userSpaceOnUse" x1="116.6667" y1="24.3822" x2="116.6667" y2="7.871">
			<stop  offset="0" style="stop-color:#F6F6F6"/>
			<stop  offset="0.1751" style="stop-color:#ECECEC"/>
			<stop  offset="0.4765" style="stop-color:#D0D0D0"/>
			<stop  offset="0.8655" style="stop-color:#A4A4A3"/>
			<stop  offset="1" style="stop-color:#939392"/>
		</linearGradient>
		<polygon style="fill:url(#SVGID_10_);" points="13.778,6.808 15.556,25.159 217.778,25.159 219.556,6.808 		"/>
		<linearGradient id="SVGID_11_" gradientUnits="userSpaceOnUse" x1="116.6667" y1="24.1742" x2="116.6667" y2="7.8584">
			<stop  offset="0" style="stop-color:#F6F6F6"/>
			<stop  offset="0.1627" style="stop-color:#ECECEC"/>
			<stop  offset="0.4429" style="stop-color:#D0D0D0"/>
			<stop  offset="0.8044" style="stop-color:#A4A4A3"/>
			<stop  offset="1" style="stop-color:#898988"/>
		</linearGradient>
		<polygon style="fill:url(#SVGID_11_);" points="14.222,6.808 17.111,24.942 216.222,24.942 219.111,6.808 		"/>
		<linearGradient id="SVGID_12_" gradientUnits="userSpaceOnUse" x1="116.6667" y1="23.9662" x2="116.6667" y2="7.8458">
			<stop  offset="0" style="stop-color:#F5F5F5"/>
			<stop  offset="0.1522" style="stop-color:#EBEBEB"/>
			<stop  offset="0.4144" style="stop-color:#CFCFCF"/>
			<stop  offset="0.7525" style="stop-color:#A3A3A2"/>
			<stop  offset="1" style="stop-color:#7E7E7D"/>
		</linearGradient>
		<polygon style="fill:url(#SVGID_12_);" points="14.667,6.808 18.667,24.725 214.667,24.725 218.667,6.808 		"/>
		<linearGradient id="SVGID_13_" gradientUnits="userSpaceOnUse" x1="116.6667" y1="23.7582" x2="116.6667" y2="7.8332">
			<stop  offset="0" style="stop-color:#F4F4F4"/>
			<stop  offset="0.1432" style="stop-color:#EAEAEA"/>
			<stop  offset="0.3898" style="stop-color:#CECECE"/>
			<stop  offset="0.7076" style="stop-color:#A2A2A1"/>
			<stop  offset="1" style="stop-color:#737372"/>
		</linearGradient>
		<polygon style="fill:url(#SVGID_13_);" points="15.111,6.808 20.222,24.507 213.111,24.507 218.222,6.808 		"/>
		<linearGradient id="SVGID_14_" gradientUnits="userSpaceOnUse" x1="116.6667" y1="23.5502" x2="116.6667" y2="7.8207">
			<stop  offset="0" style="stop-color:#F3F3F3"/>
			<stop  offset="0.1353" style="stop-color:#E9E9E9"/>
			<stop  offset="0.3683" style="stop-color:#CDCDCD"/>
			<stop  offset="0.6708" style="stop-color:#A0A0A0"/>
			<stop  offset="1" style="stop-color:#686867"/>
		</linearGradient>
		<polygon style="fill:url(#SVGID_14_);" points="15.556,6.808 21.778,24.29 211.556,24.29 217.778,6.808 		"/>
		<linearGradient id="SVGID_15_" gradientUnits="userSpaceOnUse" x1="116.6667" y1="23.3422" x2="116.6667" y2="7.8081">
			<stop  offset="0" style="stop-color:#F2F2F2"/>
			<stop  offset="0.1284" style="stop-color:#E8E8E8"/>
			<stop  offset="0.3494" style="stop-color:#CCCCCC"/>
			<stop  offset="0.6364" style="stop-color:#A0A09F"/>
			<stop  offset="0.9751" style="stop-color:#636361"/>
			<stop  offset="1" style="stop-color:#5E5E5C"/>
		</linearGradient>
		<polygon style="fill:url(#SVGID_15_);" points="16,6.808 23.333,24.073 210,24.073 217.333,6.808 		"/>
		<linearGradient id="SVGID_16_" gradientUnits="userSpaceOnUse" x1="116.6667" y1="23.1343" x2="116.6667" y2="7.7955">
			<stop  offset="0" style="stop-color:#F1F1F1"/>
			<stop  offset="0.1222" style="stop-color:#E7E7E7"/>
			<stop  offset="0.3325" style="stop-color:#CBCBCB"/>
			<stop  offset="0.6057" style="stop-color:#9F9F9E"/>
			<stop  offset="0.928" style="stop-color:#626260"/>
			<stop  offset="1" style="stop-color:#535351"/>
		</linearGradient>
		<polygon style="fill:url(#SVGID_16_);" points="16.444,6.808 24.889,23.856 208.444,23.856 216.889,6.808 		"/>
		<linearGradient id="SVGID_17_" gradientUnits="userSpaceOnUse" x1="116.6667" y1="22.9263" x2="116.6667" y2="7.7829">
			<stop  offset="0" style="stop-color:#F0F0F0"/>
			<stop  offset="0.1166" style="stop-color:#E6E6E6"/>
			<stop  offset="0.3175" style="stop-color:#CACACA"/>
			<stop  offset="0.5784" style="stop-color:#9E9E9D"/>
			<stop  offset="0.886" style="stop-color:#61615F"/>
			<stop  offset="1" style="stop-color:#484846"/>
		</linearGradient>
		<polygon style="fill:url(#SVGID_17_);" points="16.889,6.808 26.444,23.639 206.889,23.639 216.444,6.808 		"/>
		<linearGradient id="SVGID_18_" gradientUnits="userSpaceOnUse" x1="116.6667" y1="22.7183" x2="116.6667" y2="7.7703">
			<stop  offset="0" style="stop-color:#F0F0F0"/>
			<stop  offset="0.1116" style="stop-color:#E6E6E6"/>
			<stop  offset="0.3038" style="stop-color:#CACACA"/>
			<stop  offset="0.5536" style="stop-color:#9D9D9D"/>
			<stop  offset="0.848" style="stop-color:#60605F"/>
			<stop  offset="1" style="stop-color:#3D3D3C"/>
		</linearGradient>
		<polygon style="fill:url(#SVGID_18_);" points="17.333,6.808 28,23.421 205.333,23.421 216,6.808 		"/>
		<linearGradient id="SVGID_19_" gradientUnits="userSpaceOnUse" x1="116.6667" y1="22.5103" x2="116.6667" y2="7.7577">
			<stop  offset="0" style="stop-color:#EFEFEF"/>
			<stop  offset="0.1071" style="stop-color:#E5E5E5"/>
			<stop  offset="0.2915" style="stop-color:#C9C9C9"/>
			<stop  offset="0.5311" style="stop-color:#9D9D9C"/>
			<stop  offset="0.8134" style="stop-color:#5F5F5E"/>
			<stop  offset="1" style="stop-color:#333331"/>
		</linearGradient>
		<polygon style="fill:url(#SVGID_19_);" points="17.778,6.808 29.556,23.204 203.778,23.204 215.556,6.808 		"/>
		<linearGradient id="SVGID_20_" gradientUnits="userSpaceOnUse" x1="116.6667" y1="22.3023" x2="116.6667" y2="7.7451">
			<stop  offset="0" style="stop-color:#EEEEEE"/>
			<stop  offset="0.1029" style="stop-color:#E4E4E4"/>
			<stop  offset="0.2803" style="stop-color:#C8C8C8"/>
			<stop  offset="0.5107" style="stop-color:#9B9B9B"/>
			<stop  offset="0.7821" style="stop-color:#5E5E5D"/>
			<stop  offset="1" style="stop-color:#282826"/>
		</linearGradient>
		<polygon style="fill:url(#SVGID_20_);" points="18.222,6.808 31.111,22.987 202.222,22.987 215.111,6.808 		"/>
		<linearGradient id="SVGID_21_" gradientUnits="userSpaceOnUse" x1="116.6667" y1="22.0943" x2="116.6667" y2="7.7326">
			<stop  offset="0" style="stop-color:#EDEDED"/>
			<stop  offset="0.0992" style="stop-color:#E3E3E3"/>
			<stop  offset="0.27" style="stop-color:#C7C7C7"/>
			<stop  offset="0.4921" style="stop-color:#9A9A9A"/>
			<stop  offset="0.7534" style="stop-color:#5D5D5C"/>
			<stop  offset="1" style="stop-color:#1D1D1B"/>
		</linearGradient>
		<polygon style="fill:url(#SVGID_21_);" points="18.667,6.808 32.667,22.77 200.667,22.77 214.667,6.808 		"/>
	</g>
	
		<radialGradient id="SVGID_22_" cx="116.6667" cy="-82.9225" r="120.4328" fx="117.1339" fy="-126.3731" gradientTransform="matrix(1 0 0 0.5 0 49.5)" gradientUnits="userSpaceOnUse">
		<stop  offset="0" style="stop-color:#F6F6F6"/>
		<stop  offset="0.4125" style="stop-color:#F3F3F3"/>
		<stop  offset="0.7306" style="stop-color:#E9E9E9"/>
		<stop  offset="1" style="stop-color:#DADADA"/>
	</radialGradient>
	<rect x="4.667" y="6.808" style="fill:url(#SVGID_22_);" width="224" height="4.667"/>
	<linearGradient id="SVGID_23_" gradientUnits="userSpaceOnUse" x1="116.6667" y1="6.8075" x2="116.6667" y2="0.931">
		<stop  offset="0" style="stop-color:#EDEDED"/>
		<stop  offset="1" style="stop-color:#DADADA"/>
	</linearGradient>
	<polygon style="fill:url(#SVGID_23_);" points="18.667,0.931 4.667,6.808 228.667,6.808 214.667,0.931 	"/>
	<g>
		<g>
			<g>
				<g>
					<path style="fill:#FFFFFF;" d="M228.667,6.38c0,0-71.273,0.322-112,0.322c-40.727,0-112-0.322-112-0.322
						s71.273-0.322,112-0.322C157.394,6.058,228.667,6.38,228.667,6.38z"/>
				</g>
			</g>
		</g>
	</g>
</g>
</svg>
